{{define "artist"}}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../style/artist.css">
	<link rel="icon" href="https://img.icons8.com/office/16/000000/info.png">
	<script src="https://api-maps.yandex.ru/2.1/?apikey=68a86058-3838-4f4e-85f7-b68b5af80c7f&lang=ru_RU"
		type="text/javascript">
		</script>
	<script src="../map/geo.js" type="text/javascript"></script>
	<title>Artist info</title>
</head>

<body>
	<div class="container">
		<h1>About:</h1>
		<h2><a href="https://www.wikipedia.org/wiki/{{.Name}}">{{.Name}}</a></h2>
		<div class="parent">
			<div class="info">

				<p><img src="{{.Image}}" alt=""></p>

				<span>Members:<br></span>
				{{range .Members}}
				{{.}}<br>
				{{end}} <br>
				<span>Creation Date:</span>
				{{.CreationDate}}<br>
				<span>First Album:</span>
				{{.FirstAlbum}}<br>
			</div>

			<div class="border"></div>

			<div class="concerts">
				<p>concert dates and locations:</p>
				{{ range $key, $value := .DatesLocations}}
				<div class="cities">{{ $key }}</div>
				{{ range $value}}
				<div class="dates">{{ . }}</div>
				{{end}}
				{{end}}
			</div>
		</div>

		<div id="map" class="map"></div>

		<div class="gohome"><a href="/">GO HOME</a></div>
	</div>
</body>

</html>
{{end}}