{{define "err"}}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../style/err.css">
	<link rel="icon" href="https://img.icons8.com/color/48/000000/error--v1.png">
	<title>{{.Code}} {{.Msg}}</title>
</head>

<body>
	<div class="container">
		<p class="child">
			{{.Code}}<br>
			{{.Msg}}
		</p>
		<a href="/">GO HOME</a>
	</div>
</body>

</html>
{{end}}